<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
 <input type="text"  [(ngModel)]="sear">  
 {{sear}}
<ul>
  <li *ngFor="let item of list  | search:sear">
    {{item.name}}
  </li>
</ul>

<router-outlet></router-outlet>  