<!-- <style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
 <input type="text"  [(ngModel)]="sear">  
 {{sear}}
<ul>
  <li *ngFor="let item of list  | search:sear">
    {{item.name}}
  </li>
</ul> -->

<div class="container">

  <label>data label</label>
  <input type="text" class="form-control" (input)="onInput($event)">

  <button class="btn btn-primary" (click)="onServer()">Primary</button>

</div>

<div class="container">
  <p *ngIf="serverCreate; else noServer">{{serverData}}</p>

  <ng-template #noServer>
     <p>now server</p>
  </ng-template>
</div>

<div class="container">
  <app-server></app-server>
</div>



<router-outlet></router-outlet>
